extends layout

block content
    h1 #{movie}
    hr
    - var link = "https://s3." + region + ".amazonaws.com/" + bucket + "/" + movie
    .row
        .col-md-10.col-md-offset-1
            video#my-video.video-js(controls='', preload='auto', height='500', width='auto', poster='/images/play.png', data-setup='{}')
                source(src=link, type='video/mp4')
                </video>
            p.m-t-10
                .row
                 .col-md-10.col-md-offset-1
                     p.lead Share this video
                       form(method='POST')(action='/mail/share/video/' + movie)
                        .form-group
                            input(type='hidden', name='_csrf', value=_csrf)

                            .input-group
                                input.form-control(type='email')(placeholder='info@webkleur.com')(required=true)(name='email')
                                input.form-control(type='hidden')(value=movie)(name="movie")
                                span.input-group-btn
                                    button.btn.btn-info(type='submit') <i class="far fa-envelope"></i> Share
                .row
                    .col-md-10.col-md-offset-1

                            .a2a_kit.a2a_kit_size_32.a2a_default_style
                                a.a2a_button_twitter
                                a.a2a_button_google_plus
                                a.a2a_button_linkedin
                                a.a2a_button_whatsapp
                                a.a2a_button_pinterest
                                a.a2a_button_skype
                                a.a2a_button_facebook_messenger
                                a.a2a_button_facebook
                                a.a2a_button_google_gmail